@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,300&display=swap");
body {
  margin: 0;
}

div.bg {
  background-image: linear-gradient(-45deg, #0000ff 0%, #1e0bd0 25%, #2510a3 51%, #241178 100%);
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

* {
  font-family: "Urbanist", sans-serif;
}

p {
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 3em;
}

* {
  font-family: "Urbanist", sans-serif;
}

p {
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 3em;
}

div#loading {
  height: 10em;
  width: 10em;
  border: 5px solid rgb(187, 187, 187);
  border-right-color: blue;
  border-radius: 100%;
  top: 40%;
  left: 45%;
  position: absolute;
  z-index: 1;
}

div.circle {
  animation: loading 5s linear;
}

div#blur {
  filter: blur(5px);
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.bg {
  background-size: 700% 700%;
  top: 0;
  width: 100%;
  height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: AnimateBG 3s infinite;
  z-index: -1;
  position: absolute;
}

@media (max-width: 1164px) {
  div.bg {
    height: 170%;
  }
}
@media (max-width: 620px) {
  div.bg {
    height: 160%;
  }
}
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
div.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
  top: 1;
}

img.euMesmo {
  border-radius: 100%;
  width: 12em;
  height: 12em;
}

img.euMesmo:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

h1 {
  font-size: 2em;
}

section.info1 {
  display: flex;
  margin-top: 3em;
  align-items: center;
}

article.myImg {
  margin-right: 4em;
}

article.myInfo {
  margin-left: 4em;
}

article.myInfo div {
  display: flex;
  justify-content: right;
  align-items: center;
}

article.myInfo div img {
  width: 2em;
  height: 2em;
  margin-left: 1em;
}

section.infosGerais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.infosGerais div {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

a {
  color: white;
  text-decoration: none;
}

p.rua {
  text-align: right;
}

@media (max-width: 620px) {
  img.euMesmo {
    width: 10em;
    height: 10em;
  }
  div#loading {
    left: 38%;
  }
  section.infosGerais div {
    width: 80%;
  }
  article.myImg {
    margin-right: 1.3em;
  }
  article.myInfo {
    margin-left: 1.3em;
  }
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 0.7em;
  }
}
@media (max-width: 484px) {
  img.euMesmo {
    width: 8em;
    height: 8em;
  }
  article.myImg {
    margin-right: 1em;
  }
  article.myInfo {
    margin-left: 1em;
  }
  div#loading {
    left: 30%;
  }
}
@media (max-width: 384px) {
  img.euMesmo {
    width: 6em;
    height: 6em;
  }
  article.myImg {
    margin-right: 1em;
  }
  article.myInfo {
    margin-left: 1em;
  }
}
@media (max-width: 322px) {
  img.euMesmo {
    width: 4em;
    height: 4em;
  }
  article.myImg {
    margin-right: 0.5em;
  }
  article.myInfo {
    margin-left: 0.5em;
  }
  div#loading {
    left: 25%;
  }
}
@media (min-width: 620px) {
  section.infosGerais div {
    width: 80%;
  }
  article.myImg {
    margin-right: 1.5em;
  }
  article.myInfo {
    margin-left: 1.5em;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-width: 830px) {
  section.infosGerais div {
    width: 75%;
  }
}
@media (min-width: 960px) {
  section.infosGerais div {
    width: 60%;
  }
  article.myImg {
    margin-right: 3em;
  }
  article.myInfo {
    margin-left: 3em;
  }
}
@media (min-width: 1200px) {
  section.infosGerais div {
    width: 50%;
  }
  article.myImg {
    margin-right: 4em;
  }
  article.myInfo {
    margin-left: 4em;
  }
}

/*# sourceMappingURL=style.css.map */
