
div.blurBG{
    background-color: #000000be;
    background-size: 1000%;
    z-index: -30;
}
div#loading{
    height: 100vh;
    
    position: fixed;
    z-index: 3;  
    color: rgb(0, 255, 34); 
    display: flex;
    align-items: center;
    margin-left: 45%;
    
}
@media(max-width:554px){
    div#loading{
        margin-left: 35%;
    }
}
@media(max-width:375px){
    div#loading{
        margin-left: 25%;
    }
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bounce1,.bounce2,.bounce3{
    animation: bounce 2s infinite ease-in-out;
    background-color: yellowgreen;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
}
.bounce2{
    animation-delay: 0.2s;
}
.bounce3{
    animation-delay: 0.4s;
}
@keyframes bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}

video#videoBG{
    z-index: -50;
    position: fixed;
    width: 200%;
    filter: blur(5px);
    display: none;  
}
@media(max-width:1140px){
    video#videoBG{
        width: 300%;
    }
}
@media(max-width:760px){
    video#videoBG{
        width: 400%;
    }
}
@media(max-width:560px){
    video#videoBG{
        width: 800%;
    }
}
@media(max-width:370px){
    video#videoBG{
        width: 1000%;
    }
}



div#blur{
    filter: blur(5px);
}
@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}


div.contato{
    z-index: 2;
    position: fixed;
    top: 80%;
    left: 80%;
    padding: 1em;
    
    
}
div#contatoId{
    filter: blur(5px);
   
}
div.contato img{
    width: 1em;
    
}
div.contato a{
    text-decoration: none;
    color: white ;
    text-align: center;
}

div.whats:hover{
    transform: scale(1.1);
    transition: .6s;
}
div.linkedin{
    
    margin-top: 1em;
}
div.github{
    margin-top: 1em;
}
div.linkedin:hover{
    transform: scale(1.1);
    transition: .6s;
}

@media (max-width:565px){
    div.contato a{
        font-size: .6em;
    }
    div.whats{
        margin-right: .6em;
    }
    
}
@media (max-width:565px){
    div.contato a{
        font-size: .5em;
    }
}




div.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}
img.euMesmo{
    border-radius: 100%;
    width: 12em;
    height: 12em;
}
img.euMesmo:hover{
    transform: scale(1.1);
    transition: .6s;
}
h1{
   font-size: 2em;
}


article.myImg{
    margin-right: 4em;
}
article.myInfo{
    margin-left: 4em;
    width: 70%;
    
}
article.myInfo div{
    display: flex;
    justify-content: right;
    align-items: center;
}
article.myInfo div img{
    width: 2em;
    height: 2em;
    margin-left: 1em;
}






p.rua{
    text-align: right;
}
section.info1{
    
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    
}

@media(max-width:1200px){
    section.info1{
        width: 60%;
    }
}
@media(max-width:800px){
    section.info1{
        width: 80%;
    }
}
@media(max-width:440px){
    section.info1{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 15%;
    }
    
}
@media(max-width:620px) {
    img.euMesmo{
        width: 10em;
        height: 10em;
    }
    
    article.myImg{
        margin-right: 1.3em;
    }
    article.myInfo{
        margin-left: 1.3em;
    }
    h1{
        font-size: 1em;
    }
    h2{
        font-size: 1em; 
    }
    h3{
        font-size: 2em;
    }
    p{
       font-size: .7em; 
    }
}
@media(max-width:484px) {
    img.euMesmo{
        width: 8em;
        height: 8em;
    }
    article.myImg{
        margin-right: 1em;
    }
    article.myInfo{
        margin-left: 1em;
    }
    
}
@media(max-width:384px) {
    img.euMesmo{
        width: 6em;
        height: 6em;
    }
    article.myImg{
        margin-right: 1em;
    }
    article.myInfo{
        margin-left: 1em;
    }
}
@media(max-width:322px) {
    img.euMesmo{
        width: 4em;
        height: 4em;
    }
    article.myImg{
        margin-right: .5em;
    }
    article.myInfo{
        margin-left: .5em;
    }
    
}

@media(min-width:620px){
    
    article.myImg{
        margin-right: 1.5em;
    }
    article.myInfo{
        margin-left: 1.5em;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.5em; 
    }
    h3{
        font-size: 2.5em;
    }
    p{
       font-size: 1em; 
    }
}

@media(min-width:960px){
   
    article.myImg{
        margin-right: 3em;
    }
    article.myInfo{
        margin-left: 3em;
    }
}
@media(min-width:1200px){
   
    article.myImg{
        margin-right: 4em;
    }
    article.myInfo{
        margin-left: 4em;
    }
    
}


div.iconsHabi{
    background-image: linear-gradient(-45deg, #505052 0%, #6c6c6d 25%, #c7c7c7 51%, #ffffff 100%) ;;
    background-size: 300%;
    animation: AnimateBG 15s infinite;
    animation-delay: 5s;
    border-radius: 20%;
    margin: 4%;
    height: 10em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

@keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
div.iconsHabi:hover{  
    transform: rotate(360deg);
    transition-duration: 1s;
    
}


div.iconsHabi .linux{
    width: 7em;
    padding: 1em;
}

section.habi{
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    background-color: black;
    width: 100%;
    border-bottom: 2px solid white ;
    border-top: 2px solid white ;
}

section.habi article:nth-of-type(2){
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
hr{
    width: 100%;
}
div.projetos{
    margin: 1em;
    text-align: center;
}
a{
    color: rgb(0, 255, 98);
   
}

@keyframes linhaA{
    0%{
        width: 0;
        height: 2px;
        border-bottom-color: transparent;
    }
    100%{
        width: 100%;
        height: 2px;
        border-bottom-color: yellowgreen;
    }
}
.titulos{
    text-align: center;
}
.titulos::after{
    content: "";
    width: 0;
    background-color: yellowgreen;
    display: block;
    transition: 0.3s;
    animation: linhaA 7s infinite;
    animation-delay:  5s; 
    animation-direction: alternate;
}

